#!/bin/sh

mv ~/.zsh_history ~/.zsh_history_bad
strings ~/.zsh_history_bad > ~/.zsh_history
fc -R ~/.zsh_history
rm ~/.zsh_history_bad

# Composer
picom &
# Network
nm-applet &
# Keyboard Layout
setxkbmap us &
# Automount Devices
udiskie -t &
# Java Fonts
xsettingsd &
# Wallpaper
nitrogen --restore &
